  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <!--<div class="container">-->
        <br><br>
        
        <div class="row center">
          <h1>LacerMarket</h1>
          <h5>Vendi E Acquista Contenuti Digitali</h5>
        </div>
        <div class="row center">
          <!-- <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a> -->
          <%= link_to "Vai ai Contenuti",contents_path, class:"btn red btn-large" %>
        </div>
        <br><br>
      <!-- </div> -->
    </div>
    <div class="parallax"><%= image_tag("home.jpg") %></div>
  </div>
