@import "materialize";

//per altri font e icone
@import "font-awesome-sprockets";
@import "font-awesome";

 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;  /*aggiunto da google font*/
  }

  h1 {
  	font-size: 3.5em;
  }

  h2 {
    font-size: 2em;
  }

  h4 {
    font-size: 1.2em;
  }
  
  main {
    flex: 1 0 auto;
  }

.home-subtitle {
  margin: 5% 0 5% 0; /* alto,destra,basso,sinistro */
}  
      

.btn-devise {
	width: 100%;
}


.show-titolo {
	margin-top:0;
	font-size: 3.4em;  /*3m misura per responsve*/
}

.show-img {
	padding-right: 5%;
}


.show-prezzo {
	font-size: 2em;
}

.btn-form {
  width:100%;
}

.card-image {
  height: 150px;
}

.fa-social {
  /*padding: 0 10px; //0 in alto e in basso 2o sx e dx*/
  padding: 0 10px;
}


/* se lavoro su uno schermo di 600px  */
@media (max-width: 600px) {
.fa-social {
  /*padding: 0 10px; //0 in alto e in basso 2o sx e dx*/
  padding: 0 10%;
}
}


.contet-show
{
  margin-top: 5%;
}

.dropdown-content
{
  min-width: 160px;
}

